apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: memory-alerting
  namespace: monitoring
  labels:
    app: kube-prometheus-stack
    app.kubernetes.io/instance: kube-prometheus-stack
spec:
  groups:
  - name: oomkills
    rules:
    - alert: OomKillEvents
      annotations:
        description: The pod {{$labels.pod}} in {{$labels.namespace}} was recently OOMkilled.
        summary: Pod was OOMKilled
      expr: increase(kube_pod_container_status_restarts_total{container!="", pod!=""}[5m]) * on(namespace, pod, container) group_left() (kube_pod_container_status_last_terminated_exitcode == 137) >= 1
      labels:
        issue: The pod {{$labels.pod}} in {{$labels.namespace}} was recently OOMkilled.
        severity: critical
